@use './src/assets/scss/vars' as _vars;

.btn {
  &__action {
    &--submit {
      border-radius: 3em;
      padding: 0.5em 3em;
      font-weight: 600;
      font-size: 0.9em;
      background-color: _vars.$brand-accent;
      color: _vars.$white;
      border: none;
      transition: 0.5s ease-in-out;
      text-transform: uppercase;
      &:hover {
        background-color: _vars.$secondary-color;
        transform: translateY(-3px);
      }
      &:active {
        background-color: _vars.$primary-color;
        transform: translateY(0px);
      }
      &:disabled {
        background-color: _vars.$brand-accent;
        opacity: 0.3;
        filter: invert(1);
        color: _vars.$white;
        cursor: not-allowed;
      }
    }
    &--password {
      border-radius: 0 1em 1em 0;
      &:hover {
        background-color: transparent;
        box-shadow: none;
        border-color: none;
      }
    }
  }
}
