@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Roboto:wght@400;500;700;900&display=swap');

$primary-color :  #1DB954;
$secondary-color: #120e0e;
$brand-accent:    #545454;
$brand-ligth :    #f5f5f5;
$brand-danger:    #dc3545;
$white:           #ffffff;
$black:           #000000;

/* FONTS */ 
$title-font: 'Bigshot One', cursive;
$body-font: 'Roboto', sans-serif;

$gradient_texture: linear-gradient(0deg, rgb(113, 136, 223),rgb(17, 213, 207));