<main class="container-fluid main">
  <section class="main__section">
    <div class="row m-0 p-0 h-100">
      <div class="col col-12 col-lg-6 p-0 h-100 main__form">
        <app-atom-image
          [atomicImageObject]="iniciarSesionImageMobile"
          class="d-block d-lg-none my-4 mx-auto mt-5 mb-1">
        </app-atom-image>

        <app-atom-title [headerTitle]="titlePrimary"></app-atom-title>

        <form
          [formGroup]="authForm"
          (ngSubmit)="submitAuthForm()"
          class="form row px-2 px-md-0 animate__animated"
          [ngClass]="{
            animate__flipInY: !showRegisterForm,
            animate__flipInX: showRegisterForm
          }">
          <div class="mb-3 p-0">
            <label for="inputEmail" class="form-label form__label">
              Correo electrónico
            </label>
            <input
              type="email"
              class="form-control form__control"
              [class.is-valid]="authForm.get('email')?.valid"
              [class.is-invalid]="
                authForm.get('email')?.invalid && authForm.get('email')?.touched
              "
              id="inputEmail"
              formControlName="email"
              placeholder="usuario@correo.com" />
            <div
              [class.invalid-feedback]="
                authForm.get('email')?.invalid && authForm.get('email')?.touched
              "
              *ngIf="
                authForm.get('email')?.invalid && authForm.get('email')?.touched
              ">
              Al parecer el correo no es valido.
            </div>
          </div>

          <div class="mb-3 p-0">
            <label for="inputPassword" class="form-label form__label">
              Contraseña
            </label>
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control form__control"
                [class.is-valid]="authForm.get('password')?.valid"
                [class.is-invalid]="
                  authForm.get('password')?.invalid &&
                  authForm.get('password')?.touched
                "
                id="inputPassword"
                formControlName="password"
                placeholder="Contraseña" />
              <button
                class="btn btn-outline-secondary py-0 form__action--password"
                type="button"
                (click)="showPassword = !showPassword"
                id="button-addon1">
                <svg-icon *ngIf="!showPassword" src="assets/icons/show-alt.svg">
                </svg-icon>

                <svg-icon *ngIf="showPassword" src="assets/icons/hide-alt.svg">
                </svg-icon>
              </button>
              <div
                [class.invalid-feedback]="
                  authForm.get('password')?.invalid &&
                  authForm.get('password')?.touched
                "
                *ngIf="
                  authForm.get('password')?.invalid &&
                  authForm.get('password')?.touched
                ">
                La contraseña debe tener minimo 6 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3 p-0" *ngIf="showRegisterForm">
            <label for="inputPasswordMatch" class="form-label form__label">
              Repetir contraseña
            </label>
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control form__control is-valid"
                [class.is-valid]="authForm.valid"
                [class.is-invalid]="
                  (authForm.get('passwordConfirm')?.invalid &&
                    authForm.get('passwordConfirm')?.touched) ||
                  authForm.hasError('passwordMatchError')
                "
                id="inputPasswordMatch"
                formControlName="passwordConfirm"
                placeholder="Repetir contraseña" />
              <button
                class="btn btn-outline-secondary py-0 form__action--password"
                type="button"
                (click)="showPassword = !showPassword"
                id="button-addon1">
                <svg-icon *ngIf="!showPassword" src="assets/icons/show-alt.svg">
                </svg-icon>

                <svg-icon *ngIf="showPassword" src="assets/icons/hide-alt.svg">
                </svg-icon>
              </button>
              <div
                [class.invalid-feedback]="
                  (authForm.get('passwordConfirm')?.invalid &&
                    authForm.get('passwordConfirm')?.touched) ||
                  authForm.hasError('passwordMatchError')
                "
                *ngIf="
                  (authForm.get('passwordConfirm')?.invalid &&
                    authForm.get('passwordConfirm')?.touched) ||
                  authForm.hasError('passwordMatchError')
                ">
                La contraseñas deben coincidir.
              </div>
            </div>
          </div>
          <div class="mb-3 text-end" *ngIf="!showRegisterForm">
            <a
              [routerLink]="['./recuperar-acceso']"
              class="form__forgotPassword">
              Olvidaste la contraseña?
            </a>
          </div>
          <div class="mt-2 p-0 d-flex justify-content-center">
            <app-atom-button
              [atomButton]="authActionButton"
              [atomButtonDisbaled]="authForm.invalid">
              {{ showRegisterForm ? 'Registrarse' : 'Inciar sesión' }}
            </app-atom-button>
          </div>
        </form>

        <div class="mt-5 pb-4 text-center register">
          <span class="register__label">
            {{ showRegisterForm ? 'Ya' : 'No' }} tienes un cuenta?
          </span>
          <a class="register__action" (click)="actionAuth()">
            {{ showRegisterForm ? 'Iniciar Sesión' : 'Registrate' }}
          </a>
        </div>
      </div>
      <div
        class="col col-12 col-lg-6 d-none d-lg-block p-0 h-100 main__picture">
        <app-atom-image [atomicImageObject]="iniciarSesionImage">
        </app-atom-image>
      </div>
    </div>
  </section>
</main>
