<main class="container-fluid main">
  <section class="main__section">
    <div class="row m-0 p-0 h-100">
      <div class="col col-12 col-lg-6 p-0 h-100 main__form">
        <app-atom-image
          [atomicImageObject]="iniciarSesionImageMobile"
          class="d-block d-lg-none my-4 mx-auto mt-5 mb-1">
        </app-atom-image>

        <app-atom-title [headerTitle]="titlePrimary"></app-atom-title>

        <form
          [formGroup]="authForm"
          (ngSubmit)="submitAuthForm()"
          class="form row px-2 px-md-0 animate__animated"
          [ngClass]="{
            animate__flipInY: !showRegisterForm,
            animate__flipInX: showRegisterForm
          }">
          <div class="mb-3 p-0">
            <app-atom-input
              [formReference]="authForm"
              label="Correo electrónico"
              controlName="email"
              errorMessage="Al parecer el correo es incorrecto"
              type="email"
              placeholder="usuario@correo.com">
            </app-atom-input>
          </div>

          <div class="mb-3 p-0">
            <app-atom-input
              [formReference]="authForm"
              label="Contraseña"
              controlName="password"
              errorMessage="La contraseña debe tener minimo 6 caracteres."
              type="password"
              placeholder="******"
              [showPassword]="showPassword"
              (showPasswordChange)="showPasswordChange($event)">
            </app-atom-input>
          </div>

          <div class="mb-3 p-0" *ngIf="showRegisterForm">
            <app-atom-input
              [formReference]="authForm"
              label="Repetir contraseña"
              controlName="passwordConfirm"
              errorMessage="La contraseñas deben coincidir."
              type="password"
              placeholder="******"
              [showPassword]="showPassword"
              [isPasswordConfirm]="true"
              (showPasswordChange)="showPasswordChange($event)">
            </app-atom-input>
          </div>

          <div class="mb-3 text-end" *ngIf="!showRegisterForm">
            <a
              [routerLink]="['./recuperar-acceso']"
              class="form__forgotPassword">
              Olvidaste la contraseña?
            </a>
          </div>

          <div class="mt-2 p-0 d-flex justify-content-center">
            <app-atom-button
              [atomButton]="authActionButton"
              [atomButtonDisbaled]="authForm.invalid">
              {{ showRegisterForm ? 'Registrarse' : 'Inciar sesión' }}
            </app-atom-button>
          </div>
        </form>

        <div class="mt-5 pb-4 text-center register">
          <span class="register__label">
            {{ showRegisterForm ? 'Ya' : 'No' }} tienes un cuenta?
          </span>
          <a class="register__action" (click)="actionAuth()">
            {{ showRegisterForm ? 'Iniciar Sesión' : 'Registrate' }}
          </a>
        </div>
      </div>
      <div
        class="col col-12 col-lg-6 d-none d-lg-block p-0 h-100 main__picture">
        <app-atom-image [atomicImageObject]="iniciarSesionImage">
        </app-atom-image>
      </div>
    </div>
  </section>
</main>
